.grow-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-image: linear-gradient(#242424, black);
  border-radius: 0.5rem;
  border-style: ridge;
  border-width: .2rem;
  box-shadow: 5px 5px  10px black;
  color: goldenrod;
}