.my-garden {
  align-items: center;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}

.my-crops {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
  margin: 1rem;
  width: 90%;
}

.my-crop {
  border: 1px solid crimson;
}