
.crop-details-container {
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center; */
  padding: 2rem;
  height: 100%;
}

.crop-details-image {
  height: 70vh;
  width: 60%;
  border-width: .5rem;
  border-style: ridge;
  border-radius: 2rem;
  float: right;
}

p {
  color: gold;
  line-height: 2;
  padding-right: 1rem;
}

h1 {
  color: gold;
}

.back-button {
  align-self: flex-end;
  border: 2px solid white;
  border-radius: 0.5rem;
  background-color: goldenrod;
  font-size: xx-small;
  margin: 1rem;
  padding: 0.2rem;
  width: 10rem;
  height: 2rem;
  transition: ease(500);
}

.back-button:hover {
  cursor: pointer;
  font-size: small;
  background-color: darkgoldenrod;
}

.button-container {
  display: flex;
  justify-content: center;
}


  @media screen and (max-width: 600px) {
    .crop-details-image {
      height: 50vh;
      width: 90%;
      border-width: .5rem;
      border-style: ridge;
      border-radius: 2rem;
      float: right;
    }
  }